/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/

*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, p, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, p, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* code */

:root {
  font-family: 'Roboto';
}

a {
  width: max-content;
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
}

.logo > img,
.sidebar-main-list > img,
.sidebar-secondary-list > img {
  filter: invert(1);
}

.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidebar {
  display: grid;
  grid-template-rows: 70px 230px 110px;
  grid-gap: 50px;
  grid-row: 1 / 3;
  background-color: #0085ca;
  color: white;
}

.logo,
.sidebar-main-list,
.sidebar-secondary-list {
  padding-left: 20px;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 20px calc(100% - 60px);
  font-weight: bold;
}

.logo {
  padding-top: 15px;
  padding-left: 15px;
  grid-template-columns: 40px calc(100% - 80px);
  font-size: 1.6rem;
}

.logo > *,
.sidebar-main-list > *,
.sidebar-secondary-list > * {
  align-self: center;
}

.logo > a {
  font-weight: bolder;
  font-size: 2rem;
}

.sidebar-main-list > a,
.sidebar-secondary-list  > a {
  font-size: 1.2rem;
}

.header {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 60px 80px;
  padding: 15px 40px 10px 35px;
  background-color: white;
  position: relative;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 10%);
}

.search {
  display: grid;
  grid-template-columns: 20px calc(100% - 30px);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.search-panel {
  border: 0;
  border-radius: 1rem;
  background-color: #e3ebf2;
  height: 30px;
}

.user-profile {
  display: grid;
  font-weight: bold;
  font-size: 1.1rem;
  grid-gap: 20px;
  justify-content: end;
  align-items: center;
  grid-template-columns: 25px 50px 104px;
}

.notificationce {
  background-image: url(./design/bell-ring.svg);
  height: 25px;
  width: 25px;
  background-color: white;
  border: 0;
}

.header-user {
  display: grid;
  grid-template-columns: 60px calc(100% - 70px);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  font-weight: bold;
}

.hi-there {
  align-self: end;
  font-size: 0.9rem;
}

.name {
  align-self: start;
  font-size: 1.4rem;
}

.actions {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-gap: 25px;
  justify-content: end;
  align-items: center;
}

.actions > button {
  width: 90px;
  height: 35px;
  border: 0;
  border-radius: 1rem;
  color: white;
  background-color: #0085ca;
}

.main-content {
  padding: 30px 30px 30px 20px;
  background-color: #e3ebf2;
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.projects {
  padding-right: 20px;
  grid-row: 1 / 3;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.card {
  display: grid;
  grid-gap: 10px;
  padding: 30px 20px 20px 30px;
  background-color: white;
  border-left: 8px solid orange;
  border-radius: 8px;
  box-shadow: 2px 5px 5px rgb(0, 0, 0, 10%);
}

.card-text > p:first-child {
  font-size: 1.2rem;
  font-weight: 500;
}

.card-text > p:last-child {
  color: grey
}

.card-btn {
  display: grid;
  grid-template-columns: 25px 25px 25px;
  grid-gap: 20px;
  place-content: end;
}

.star,
.fork,
.eye {
  background-color: white;
  border: 0;
  height: 25px;
  width: 25px;
}

.star {
  background-image: url(design/star-plus-outline.svg);
}

.eye {
  background-image: url(design/eye-plus-outline.svg);
}

.fork {
  background-image: url(design/source-fork.svg);
}

.examples-announcements {
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 5px 5px rgb(0, 0, 0, 10%);
}

.site-maintenance,
.community-share-day {
  padding-bottom: 15px;
  border-bottom: 1px solid gainsboro;
}

.community-share-day,
.updated-privacy-policy {
  padding-top: 15px;
}

.example > p:first-child {
  font-size: 0.9rem;
  font-weight: 500;
}

.example > p:last-child {
  font-size: 0.8rem;
  color: gray;
}

.title-trending {
  margin-top: 10px
}

.developers {
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  display: grid;
  grid-gap: 25px;
  box-shadow: 2px 5px 5px rgb(0, 0, 0, 10%);
}

.develop {
  display: grid;
  grid-template-columns: 50px auto;
  grid-gap: 15px;
}

.tag-and-description > p:last-child {
  color: gray;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
}


button:hover {
  cursor: pointer;
}